<!doctype html>
<html>
<body>

<form action="/" method="post" enctype="multipart/form-data">
    <input type="text" name="field1">
    <input type="file" name="my_file">
    <input type="text" name="field2">
    <button type="submit">Send</button>
</form>

<!--<form action="/api/register" method="post">-->
    <!--<input type="text" name="fname" /><br />-->
    <!--<input type="number" name="age" /><br />-->
    <!--&lt;!&ndash;<input type="file" name="photo" /><br />&ndash;&gt;-->
    <!--<button type="submit">Save</button>-->
<!--</form>-->
</body>
</html>