<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Цены на стрижки собак и кошек в Москве полный прайс на услуги груминг салона в центре города 7(499)430-00-26">
<!--	<meta name="yandex" content="noindex, nofollow" />-->

	{% if yandexContent == 'noindex' %}
	<meta name="robots" content="noindex, follow"/>
	{% endif %}

	<title>Цены на груминг в Москве полный прайс</title>

	<link rel="icon" href="/img/favicon.ico">

	<link rel="stylesheet" href="/css/app.css">

	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Facebook Pixel Code -->
<!--	<script>-->
<!--        !function(f,b,e,v,n,t,s)-->
<!--        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?-->
<!--            n.callMethod.apply(n,arguments):n.queue.push(arguments)};-->
<!--            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';-->
<!--            n.queue=[];t=b.createElement(e);t.async=!0;-->
<!--            t.src=v;s=b.getElementsByTagName(e)[0];-->
<!--            s.parentNode.insertBefore(t,s)}(window, document,'script',-->
<!--            'https://connect.facebook.net/en_US/fbevents.js');-->
<!--        fbq('init', '6568225839919373');-->
<!--        fbq('track', 'PageView');-->
<!--	</script>-->
<!--	<noscript><img height="1" width="1" style="display:none"-->
<!--				   src="https://www.facebook.com/tr?id=6568225839919373&ev=PageView&noscript=1"-->
<!--	/></noscript>-->
	<!-- End Facebook Pixel Code -->
</head>
<body>
<div class="wrapper">
	<div class="section-main section" id="sec1">
		<div class="container">
			<header class="header">
				<div class="header-logo-phone red__">
					<div class="header-logo__ red__" style="height: 90px; margin-top: 20px;">
						<img class="" src="/img/org/logo.png" alt="фото" style="height: 90px">

					</div>

					<div id="header-phone" class="header-phone red__">
						<a href="tel:+7(499)430-00-26" style="padding-left: 10px;">+7 (499) 430-00-26</a><br />
						<span style="color: #726f74; padding-left: 10px;"><strong>info@salon-groom.ru</strong></span>
					</div>
				</div>

				<nav id="menu" class="menu-nav">
					<ul class="header_list">
						<li><a href="/" class="header_li">Главная</a></li>
						<li><a href="/works" class="header_li">Наши работы</a></li>
						<li><a href="/masters" class="header_li" id="master-link">Наши мастера</a></li>
						<li><a href="/price" class="header_li">Прайс</a></li>
						<li><a href="/review" class="header_li">Отзывы</a></li>
						<li><a href="/contacts" class="header_li">Контакты</a></li>
					</ul>
				</nav>

				<div class="header-burger toggle-mnu">
					<span></span>
				</div>

				<div class="header-img">
					<div class="section-img">
						<img src="/img/org/dogs.png" alt="section-img">
					</div>
					<div class="title-b ">
						<div>МЫ СТРИЖЕМ ВАШИХ ПИТОМЦЕВ С ЛЮБОВЬЮ <i class="fas fa-heart"></i></div>
					</div>
				</div>

				<div class="btn-section">
					<a class="btn" href="#top">Записаться</a>
				</div>
			</header>
		</div>
	</div>

	<div class="section-prics" id="sec4">
		<div id="price">
			<h1>Цены на груминг в Москве</h1>
			<div class="container">
				<div class="mobile-margin-top">
					<div class="text-center main-font" style="margin: 20px">
						<button id="btn-complex" class="tab-btn btn-tab-active">Комплекс: под машинку / модельная </button>
						<button id="btn-hygiene" class="tab-btn">Гигиена </button>
						<button id="btn-washing-drying" class="tab-btn">Мытье-сушка </button>
						<button id="btn-trimming" class="tab-btn">Тримминг </button>
						<button id="btn-express-molt" class="tab-btn">Экспресс-линька </button>
						<button id="btn-cats" class="tab-btn">Кошки </button>
						<button id="btn-additional-services" class="tab-btn">Доп. услуги </button>
					</div>
					<div class="row main-font">
						<div id="complex" class="col-md-12 tabs-price">
							<!-- Мелкие complex -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-small-complex">
								<tr>
									<th class="width-80-persent">Мелкие породы</th>
									<th><span class="col-price hidden">Цена</span> <i class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-small-complex" class="hidden">
								<tr>
									<td>Бишон-фризе</td>
									<td><strong>3300 / 3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Йоркширский терьер, бивер-йорк</td>
									<td><strong>3000 / 3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Китайская хохлатая голая</td>
									<td><strong>2000 / 2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Китайская хохлатая пуховка</td>
									<td><strong>2500 / 2900 ₽</strong></td>
								</tr>
								<tr>
									<td>Мальтийская болонка</td>
									<td><strong>3000 / 3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Мопс</td>
									<td><strong>2900 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Папильон</td>
									<td><strong>3000 / 3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Пекинес</td>
									<td><strong>3000 / 3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Той-пудель</td>
									<td><strong>3000 / 3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Той-терьер (гладкош./длиннош.)</td>
									<td><strong>2000 / 2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергпинчер</td>
									<td><strong>2400 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Чихуахуа (гладкош./длиннош.)</td>
									<td><strong>2300 / 2600 ₽</strong></td>
								</tr>
								<tr>
									<td>Ши-тцу</td>
									<td><strong>3000 / 3500 ₽</strong></td>
								</tr>
								<tr>
									<td>Шпиц (карликовый /малый, до 5кг)</td>
									<td><strong> * / 3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Японский хин</td>
									<td><strong>2800 / 3200 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Средние complex -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-middle-complex">
								<tr>
									<th class="width-80-persent">Средние породы</th>
									<th><span id="col-price-2" class="col-price hidden">Цена</span> <i id="col-price-arrow-2" class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-middle-complex" class="hidden">
								<tr>
									<td>Американский / английский кокер-спаниель</td>
									<td><strong>3500 / 4200 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский бульдог</td>
									<td><strong>3500 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Бассенджи</td>
									<td><strong>2800 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Бигль</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Бордер-колли</td>
									<td><strong>3500 / 3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Вельш-корги</td>
									<td><strong> * / 3600 ₽</strong></td>
								</tr>
								<tr>
									<td>Вэст-хайленд-уайт терьер</td>
									<td><strong>3500 / 4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Джек-рассел терьер</td>
									<td><strong>3000 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Ирландский терьер</td>
									<td><strong>3600 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Миттельшнауцер</td>
									<td><strong>3700 / 4200 ₽</strong></td>
								</tr>
								<tr>
									<td>Пудель (малый, до 15 кг)</td>
									<td><strong>3300 / 3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Сиба-ину</td>
									<td><strong>3800 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Скотч-терьер</td>
									<td><strong>3500 / 4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Такса (гладкош., длиннош., жесткош.)</td>
									<td><strong>3000 / 3500 ₽</strong></td>
								</tr>
								<tr>
									<td>Фокс-терьер</td>
									<td><strong> 3300 / 3600 ₽</strong></td>
								</tr>
								<tr>
									<td>Французский бульдог</td>
									<td><strong>2900 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергшнауцер</td>
									<td><strong>3300 / 3600 ₽</strong></td>
								</tr>
								<tr>
									<td>Шелти</td>
									<td><strong>3300 / 3600 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Крупные complex -->
							<table id="large-breeds-complex" class="table table-dark-alt table-hover">
								<thead id="head-large-complex">
								<tr>
									<th class="width-80-persent">Крупные породы</th>
									<th><span id="col-price-3" class="col-price hidden">Цена</span> <i id="col-price-arrow-3"
																									   class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-large-complex" class="hidden">
								<tr>
									<td>Акита-ину</td>
									<td><strong> * / 6000 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский сеттер</td>
									<td><strong>4900 / 5300 ₽</strong></td>
								</tr>
								<tr>
									<td>Афганская борзая</td>
									<td><strong>5300 / 5800 ₽</strong></td>
								</tr>
								<tr>
									<td>Бладхаунд</td>
									<td><strong>4900 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Бернский зенненхунд</td>
									<td><strong>5300 / 5800 ₽</strong></td>
								</tr>
								<tr>
									<td>Далматин</td>
									<td><strong>4800 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Кане-корсо</td>
									<td><strong>4600 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Колли</td>
									<td><strong>4500 / 5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Лабрадор (+ золотистый ретривер)</td>
									<td><strong>4500 / 5000 ₽</strong></td>
								</tr>
								<tr>
									<td> Маламут</td>
									<td><strong>5300 / 5800 ₽</strong></td>
								</tr>
								<tr>
									<td>Немецкая овчарка</td>
									<td><strong>4800 / 5200 ₽</strong></td>
								</tr>
								<tr>
									<td>Ньюфаундленд</td>
									<td><strong>5800 / 6500 ₽</strong></td>
								</tr>
								<tr>
									<td>Пудель (королевский)</td>
									<td><strong>6000 / 6700 ₽</strong></td>
								</tr>
								<tr>
									<td>Ризеншнауцер</td>
									<td><strong>5000 / 5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Ротвейлер</td>
									<td><strong>4500 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Сенбернар</td>
									<td><strong> 5500 / 6000 ₽</strong></td>
								</tr>
								<tr>
									<td>Стафордширский терьер</td>
									<td><strong>4000 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Тибетский мастиф</td>
									<td><strong>5800 / 6300 ₽</strong></td>
								</tr>
								<tr>
									<td>Хаски</td>
									<td><strong> * / 5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Чау-чау</td>
									<td><strong>4800 / 5200 ₽</strong></td>
								</tr>
								<tr>
									<td>Шарпей</td>
									<td><strong>4000 / * ₽</strong></td>
								</tr>
								<tr>
									<td>Эрдельтерьер</td>
									<td><strong>5000 / 5500 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Mestizo complex -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-mestizo-complex">
								<tr>
									<th class="width-80-persent">Метисы вес</th>
									<th><span id="col-price-4" class="col-price hidden">Цена</span> <i id="col-price-arrow-4"
																									   class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-mestizo-complex" class="hidden">
								<tr>
									<td>До 5 кг</td>
									<td><strong>2500 / 2800 ₽</strong></td>
								</tr>
								<tr>
									<td>6 - 10 кг</td>
									<td><strong>3000 / 3300 ₽</strong></td>
								</tr>
								<tr>
									<td>11 - 20 кг</td>
									<td><strong>3300 / 3500 ₽</strong></td>
								</tr>
								<tr>
									<td>21 - 30 кг</td>
									<td><strong>3500 / 3800 ₽</strong></td>
								</tr>
								<tr>
									<td>31 - 40 кг</td>
									<td><strong>4000 / 4500 ₽</strong></td>
								</tr>
								<tr>
									<td>41 - 50 кг</td>
									<td><strong>4800 / 5200 ₽</strong></td>
								</tr>
								<tr>
									<td>51 - 60 кг</td>
									<td><strong>5800 / 6000 ₽</strong></td>
								</tr>
								<tr>
									<td>От 61 кг</td>
									<td><strong>7000 / 7700 ₽</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="hygiene" class="col-md-12 tabs-price hidden">
							<!-- Мелкие Гигиена -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-small-hygiene">
								<tr>
									<th class="width-80-persent">Мелкие породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-small-hygiene" class="hidden">
								<tr>
									<td>Бишон-фризе</td>
									<td><strong>2900 ₽</strong></td>
								</tr>
								<tr>
									<td>Йоркширский терьер, бивер-йорк</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Китайская хохлатая голая</td>
									<td><strong>1800 ₽</strong></td>
								</tr>
								<tr>
									<td>Китайская хохлатая пуховка</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Мальтийская болонка</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Мопс</td>
									<td><strong>2600 ₽</strong></td>
								</tr>
								<tr>
									<td>Пекинес</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Той-пудель</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Той-терьер (гладкош./длиннош.)</td>
									<td><strong>1800 ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергпинчер</td>
									<td><strong>1800 ₽</strong></td>
								</tr>
								<tr>
									<td>Чихуахуа (гладкош./длиннош.)</td>
									<td><strong>2000 ₽</strong></td>
								</tr>
								<tr>
									<td>Ши-тцу</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Шпиц (карликовый /малый, до 5кг)</td>
									<td><strong>2900 ₽</strong></td>
								</tr>
								<tr>
									<td>Японский хин</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Средние Гигиена -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-middle-hygiene">
								<tr>
									<th class="width-80-persent">Средние породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-middle-hygiene" class="hidden">
								<tr>
									<td class="width-80-persent">Американский / английский кокер-спаниель</td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский бульдог</td>
									<td><strong>3000 ₽</strong></td>

								</tr>
								<tr>
									<td>Бассенджи</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Бигль</td>
									<td><strong>2600 ₽</strong></td>
								</tr>
								<tr>
									<td>Бордер-колли</td>
									<td><strong>3200 ₽</strong></td>
								</tr>
								<tr>
									<td>Вельш-корги</td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Вэст-хайленд-уайт терьер</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Джек-рассел терьер</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Ирландский терьер</td>
									<td><strong>3200 ₽</strong></td>
								</tr>
								<tr>
									<td>Кавалер-кинг-чарльз спаниель</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Миттельшнауцер</td>
									<td><strong>3400 ₽</strong></td>
								</tr>
								<tr>
									<td>Пудель (малый, до 15 кг)</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Скотч-терьер</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Такса (гладкош., длиннош., жесткош.)</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Фокс-терьер</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Французский бульдог</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергшнауцер</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Шелти</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Крупные Гигиена -->
							<table id="large-breeds-hygiene" class="table table-dark-alt table-hover">
								<thead id="head-large-hygiene">
								<tr>
									<th class="width-80-persent">Крупные породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-large-hygiene" class="hidden">
								<tr>
									<td>Акита-ину</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский сеттер</td>
									<td><strong>4900 ₽</strong></td>
								</tr>
								<tr>
									<td>Афганская борзая</td>
									<td><strong>5100 ₽</strong></td>
								</tr>
								<tr>
									<td>Бладхаунд</td>
									<td><strong>4800 ₽</strong></td>
								</tr>
								<tr>
									<td>Бернский зенненхунд</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Бобтейл</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Далматин</td>
									<td><strong>4600 ₽</strong></td>
								</tr>
								<tr>
									<td>Колли</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Лабрадор (+ золотистый ретривер)</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td> Маламут</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Немецкая овчарка</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Ньюфаундленд</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Пудель (королевский)</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Ризеншнауцер</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Ротвейлер</td>
									<td><strong>4200 ₽</strong></td>
								</tr>
								<tr>
									<td>Сенбернар</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Стафордширский терьер</td>
									<td><strong>3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Тибетский мастиф</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Хаски</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Чау-чау</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Шарпей</td>
									<td><strong>3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Эрдельтерьер</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Mestizo hygiene -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-mestizo-hygiene">
								<tr>
									<th class="width-80-persent">Метисы вес</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-mestizo-hygiene" class="hidden">
								<tr>
									<td>До 5 кг</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>6 - 10 кг</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>11 - 20 кг</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>21 - 30 кг</td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>31 - 40 кг</td>
									<td><strong>3800 ₽</strong></td>
								</tr>
								<tr>
									<td>41 - 50 кг</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>51 - 60 кг</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>От 61 кг</td>
									<td><strong>6500 ₽</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="washing-drying" class="col-md-12 tabs-price hidden">
							<!-- Мелкие Мытье-сушка -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-small-washing">
								<tr>
									<th class="width-80-persent">Мелкие породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-small-washing" class="hidden">
								<tr>
									<td>Бишон-фризе</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Гриффон, пти брабансон</td>
									<td><strong>2000 ₽</strong></td>

								</tr>
								<tr>
									<td>Йоркширский терьер, бивер-йорк</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Левретка</td>
									<td><strong>1500 ₽</strong></td>
								</tr>
								<tr>
									<td>Мальтийская болонка</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Мопс</td>
									<td><strong>2200 ₽</strong></td>
								</tr>
								<tr>
									<td>Пекинес</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Той-пудель</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергпинчер</td>
									<td><strong>1800 ₽</strong></td>
								</tr>
								<tr>
									<td>Чихуахуа (гладкош./длиннош.)</td>
									<td><strong>1600 ₽</strong></td>
								</tr>
								<tr>
									<td>Ши-тцу</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Шпиц (карликовый /малый, до 5кг)</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Японский хин</td>
									<td><strong>1900 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Средние Мытье-сушка -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-middle-washing">
								<tr>
									<th class="width-80-persent">Средние породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-middle-washing" class="hidden">
								<tr>
									<td>Американский / английский кокер-спаниель</td>
									<td><strong>2900 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский бульдог</td>
									<td><strong>2700 ₽</strong></td>

								</tr>
								<tr>
									<td>Бассенджи</td>
									<td><strong>2100 ₽</strong></td>
								</tr>
								<tr>
									<td>Бигль</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Бордер-колли</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Вельш-корги</td>
									<td><strong>2600 ₽</strong></td>
								</tr>
								<tr>
									<td>Вэст-хайленд-уайт терьер</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Джек-рассел терьер</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Ирландский терьер</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Кавалер-кинг-чарльз спаниель</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Лабрадудль</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Миттельшнауцер</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Пудель (малый, до 15 кг)</td>
									<td><strong>2700 ₽</strong></td>
								</tr>
								<tr>
									<td>Такса (гладкош., длиннош., жесткош.)</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Фокс-терьер</td>
									<td><strong>2600 ₽</strong></td>
								</tr>
								<tr>
									<td>Французский бульдог</td>
									<td><strong>2300 ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергшнауцер</td>
									<td><strong>2600 ₽</strong></td>
								</tr>
								<tr>
									<td>Шелти</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Крупные Мытье-сушка -->
							<table id="large-breeds-washing-drying" class="table table-dark-alt table-hover">
								<thead id="head-large-washing">
								<tr>
									<th class="width-80-persent">Крупные породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-large-washing" class="hidden">
								<tr>
									<td>Акита-ину</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский сеттер</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Афганская борзая</td>
									<td><strong>4300 ₽</strong></td>
								</tr>
								<tr>
									<td>Бладхаунд</td>
									<td><strong>3900 ₽</strong></td>
								</tr>
								<tr>
									<td>Бернский зенненхунд</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Бобтейл</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Далматин</td>
									<td><strong>3900 ₽</strong></td>
								</tr>
								<tr>
									<td>Доберман</td>
									<td><strong>3500 ₽</strong></td>
								</tr>
								<tr>
									<td>Лабрадор (+ золотистый ретривер)</td>
									<td><strong>3500 ₽</strong></td>
								</tr>
								<tr>
									<td> Маламут</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Немецкая овчарка</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Ньюфаундленд</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Пудель (королевский)</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Ризеншнауцер</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Ротвейлер</td>
									<td><strong>3700 ₽</strong></td>
								</tr>
								<tr>
									<td>Сенбернар</td>
									<td><strong>4700 ₽</strong></td>
								</tr>
								<tr>
									<td>Стафордширский терьер</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Тибетский мастиф</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Хаски</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Чау-чау</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Шарпей</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Эрдельтерьер</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Mestizo washing-drying -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-mestizo-washing">
								<tr>
									<th class="width-80-persent">Метисы вес</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-mestizo-washing" class="hidden">
								<tr>
									<td class="width-80-persent">До 5 кг</td>
									<td><strong>2000 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">6 - 10 кг</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">11 - 20 кг</td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">21 - 30 кг</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">31 - 40 кг</td>
									<td><strong>3500 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">41 - 50 кг</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">51 - 60 кг</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td class="width-80-persent">От 61 кг</td>
									<td><strong>6000 ₽</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="trimming" class="col-md-12 tabs-price hidden">
							<!-- Тримминг -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-main-trimming">
								<tr>
									<th class="width-80-persent">Породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>

								<tbody id="tbody-main-trimming" class="hidden">

								<tr>
									<td class="width-80-persent">Гриффон, пти брабансон</td>
									<td><strong>3900 ₽</strong></td>
								</tr>
								<tr>
									<td>Вэст-хайленд-уайт терьер</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Джек-рассел терьер</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Ирландский терьер</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>Миттельшнауцер</td>
									<td><strong>4800 ₽</strong></td>
								</tr>
								<tr>
									<td>Такса (гладкош., длиннош., жесткош.)</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Цвергшнауцер</td>
									<td><strong>4300 ₽</strong></td>
								</tr>
								<tr>
									<td>Ризеншнауцер</td>
									<td><strong>8500 ₽</strong></td>
								</tr>
								<tr>
									<td>Эрдельтерьер</td>
									<td><strong>8000 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Mestizo trimming -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-mestizo-trimming">
								<tr>
									<th class="width-80-persent">Вес</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-mestizo-trimming" class="hidden">
								<tr>
									<td class="width-80-persent">До 5 кг</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>6 - 10 кг</td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>11 - 20 кг</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>21 - 30 кг</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>31 - 40 кг</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>41 - 50 кг</td>
									<td><strong>6000 ₽</strong></td>
								</tr>
								<tr>
									<td>51 - 60 кг</td>
									<td><strong>7000 ₽</strong></td>
								</tr>
								<tr>
									<td>От 61 кг</td>
									<td><strong>8000 ₽</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="express-molt" class="col-md-12 tabs-price hidden">
							<!-- Мелкие Экспресс-линька -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-small-express">
								<tr>
									<th class="width-80-persent">Мелкие породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-small-express" class="hidden">
								<tr>
									<td>Гриффон, пти брабансон</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Левретка</td>
									<td><strong>2400 ₽</strong></td>
								</tr>
								<tr>
									<td>Мопс</td>
									<td><strong>3200 ₽</strong></td>
								</tr>
								<tr>
									<td>Той-терьер (гладкош./длиннош.)</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Чихуахуа (гладкош./длиннош.)</td>
									<td><strong>2500 ₽</strong></td>
								</tr>
								<tr>
									<td>Шпиц (карликовый /малый, до 5кг)</td>
									<td><strong>3800 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Средние Экспресс-линька -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-middle-express">
								<tr>
									<th class="width-80-persent">Средние породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-middle-express" class="hidden">
								<tr>
									<td>Английский бульдог</td>
									<td><strong>3900 ₽</strong></td>
								</tr>
								<tr>
									<td>Бассенджи</td>
									<td><strong>3200 ₽</strong></td>
								</tr>
								<tr>
									<td>Бигль</td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Бордер-колли</td>
									<td><strong>3600 ₽</strong></td>
								</tr>
								<tr>
									<td>Вельш-корги</td>
									<td><strong>3600 ₽</strong></td>
								</tr>
								<tr>
									<td>Джек-рассел терьер</td>
									<td><strong>3500 ₽</strong></td>
								</tr>
								<tr>
									<td>Миттельшнауцер</td>
									<td><strong>3600 ₽</strong></td>
								</tr>
								<tr>
									<td>Сиба-ину</td>
									<td><strong>3800 ₽</strong></td>
								</tr>
								<tr>
									<td>Скотч-терьер</td>
									<td><strong>* ₽</strong></td>
								</tr>
								<tr>
									<td>Такса (гладкош., длиннош., жесткош.)</td>
									<td><strong>3500 ₽</strong></td>
								</tr>
								<tr>
									<td>Французский бульдог</td>
									<td><strong>3600 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Крупные Экспресс-линька -->
							<table id="express-molt-middle" class="table table-dark-alt table-hover">
								<thead id="head-large-express">
								<tr>
									<th class="width-80-persent">Крупные породы</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-large-express" class="hidden">
								<tr>
									<td>Акита-ину</td>
									<td><strong>6000 ₽</strong></td>
								</tr>
								<tr>
									<td>Английский сеттер</td>
									<td><strong>5300 ₽</strong></td>
								</tr>
								<tr>
									<td>Афганская борзая</td>
									<td><strong> 5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Бладхаунд</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Бернский зенненхунд</td>
									<td><strong>6000 ₽</strong></td>
								</tr>
								<tr>
									<td>Бобтейл</td>
									<td><strong>7000 ₽</strong></td>
								</tr>
								<tr>
									<td>Далматин</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Доберман</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>Кане-корсо</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Колли</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Лабрадор (+ золотистый ретривер)</td>
									<td><strong>5700 ₽</strong></td>
								</tr>
								<tr>
									<td> Маламут</td>
									<td><strong>6000 ₽</strong></td>
								</tr>
								<tr>
									<td>Немецкая овчарка</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Сенбернар</td>
									<td><strong>7500 ₽</strong></td>
								</tr>
								<tr>
									<td>Стафордширский терьер</td>
									<td><strong>4800 ₽</strong></td>
								</tr>
								<tr>
									<td>Тибетский мастиф</td>
									<td><strong>7500 ₽</strong></td>
								</tr>
								<tr>
									<td>Хаски</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Чау-чау</td>
									<td><strong>5500 ₽</strong></td>
								</tr>
								<tr>
									<td>Шарпей</td>
									<td><strong>4800 ₽</strong></td>
								</tr>
								</tbody>
							</table>
							<!-- Mestizo express-molt -->
							<table class="table table-dark-alt table-hover">
								<thead id="head-mestizo-express">
								<tr>
									<th class="width-80-persent">Вес</th>
									<th><span class="col-price hidden">Цена</span> <i
											class="fa fa-arrow-circle-down fs-25"></i></th>
								</tr>
								</thead>
								<tbody id="tbody-mestizo-express" class="hidden">
								<tr>
									<td class="width-80-persent">До 5 кг</td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>6 - 10 кг</td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>11 - 20 кг</td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>21 - 30 кг</td>
									<td><strong>4500 ₽</strong></td>
								</tr>
								<tr>
									<td>31 - 40 кг</td>
									<td><strong>5000 ₽</strong></td>
								</tr>
								<tr>
									<td>41 - 50 кг</td>
									<td><strong>6000 ₽</strong></td>
								</tr>
								<tr>
									<td>51 - 60 кг</td>
									<td><strong>7000 ₽</strong></td>
								</tr>
								<tr>
									<td>От 61 кг</td>
									<td><strong>8000 ₽</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="cats" class="col-md-12 tabs-price hidden">
							<table class="table table-dark-alt table-hover">
								<thead>
								<tr>
									<th>Услуги</th>
									<th>До 3 кг</th>
									<th>3.01 - 5 кг</th>
									<th>От 5.01 кг</th>
									<th>Мейн-куны</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Комплекс 1</td>
									<td><strong>3500 ₽</strong></td>
									<td><strong>3800 ₽</strong></td>
									<td><strong>4000 ₽</strong></td>
									<td><strong>4300 ₽</strong></td>
								</tr>
								<tr>
									<td>Комплекс 2</td>
									<td><strong>3000 ₽</strong></td>
									<td><strong>3300 ₽</strong></td>
									<td><strong>3500 ₽</strong></td>
									<td><strong>4000 ₽</strong></td>
								</tr>
								<tr>
									<td>Экспресс-линька</td>
									<td><strong>2500 ₽</strong></td>
									<td><strong>2800 ₽</strong></td>
									<td><strong>3000 ₽</strong></td>
									<td><strong>3500 ₽</strong></td>
								</tr>
								<tr>
									<td>Стрижка ПМ</td>
									<td><strong>2500 ₽</strong></td>
									<td><strong>2800 ₽</strong></td>
									<td><strong>3000 ₽</strong></td>
									<td><strong>3300 ₽</strong></td>
								</tr>
								<tr>
									<td>Вычесывание (1 час)</td>
									<td><strong>1800 ₽</strong></td>
									<td><strong>2300 ₽</strong></td>
									<td><strong>2500 ₽</strong></td>
									<td><strong>2800 ₽</strong></td>
								</tr>
								<tr>
									<td>Мытье - сушка</td>
									<td><strong>2000 ₽</strong></td>
									<td><strong>2300 ₽</strong></td>
									<td><strong>2500 ₽</strong></td>
									<td><strong>3000 ₽</strong></td>
								</tr>
								<tr>
									<td>Мытье сухим шампунем</td>
									<td><strong>1900 ₽</strong></td>
									<td><strong>2200 ₽</strong></td>
									<td><strong>2400 ₽</strong></td>
									<td><strong>2900 ₽</strong></td>
								</tr>
								<tr>
									<td>Ванна с озоном</td>
									<td colspan="4">1000 ₽/15 мин.</td>
								</tr>
								<tr>
									<td>Доп. Маска по типу шерсти</td>
									<td><strong>150 ₽</strong></td>
									<td><strong>200 ₽</strong></td>
									<td><strong>250 ₽</strong></td>
									<td><strong>300 ₽</strong></td>
								</tr>
								<tr>
									<td>Вычесывание колтунов</td>
									<td colspan="4"><strong>1000 ₽/час</strong></td>
								</tr>
								<tr>
									<td>Выстригание колтунов</td>
									<td colspan="4"><strong>500-1000 ₽ в зависимости от сложности</strong></td>
								</tr>
								<tr>
									<td>Стрижка когтей</td>
									<td colspan="4"><strong>500 ₽</strong></td>
								</tr>
								<tr>
									<td>Антицарапки</td>
									<td colspan="4"><strong>1000 ₽</strong></td>
								</tr>
								<tr>
									<td>Чистка ушей</td>
									<td colspan="4"><strong>500 ₽</strong></td>
								</tr>
								<tr>
									<td>Стразы, 1 шт.</td>
									<td colspan="4"><strong>100 ₽</strong></td>
								</tr>
								<tr>
									<td>Блеск-тату</td>
									<td colspan="4"><strong>от 500 ₽</strong></td>
								</tr>
								<tr>
									<td>Окрашивание</td>
									<td colspan="4"><strong>от 500 ₽</strong></td>
								</tr>
								<tr>
									<td>Доплата за агрессию</td>
									<td colspan="4"><strong>500-1000 ₽ (на усмотрение мастера)</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div id="additional-services" class="col-md-12 tabs-price hidden">
							<table class="table table-dark-alt table-hover">
								<thead>
								<tr>
									<th class="width-80-persent">Услуга</th>
									<th>Цена</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Стрижка когтей</td>
									<td><strong>500 ₽</strong></td>
								</tr>
								<tr>
									<td>Подпил когтей</td>
									<td><strong>300 ₽</strong></td>
								</tr>
								<tr>
									<td>Чистка ушей</td>
									<td><strong>400 ₽</strong></td>
								</tr>
								<tr>
									<td>Окантовка лап</td>
									<td><strong>700 ₽</strong></td>
								</tr>
								<tr>
									<td>Окантовка ушей</td>
									<td><strong>500 ₽</strong></td>
								</tr>
								<tr>
									<td>Пуделиные лапки</td>
									<td><strong>500 ₽</strong></td>
								</tr>
								<tr>
									<td>Выстригание подушечек лап</td>
									<td><strong>300 ₽</strong></td>
								</tr>
								<tr>
									<td>Бритье морды</td>
									<td><strong>800 ₽</strong></td>
								</tr>
								<tr>
									<td>Выстригание колтунов</td>
									<td><strong>500-1000 ₽</strong></td>
								</tr>
								<tr>
									<td>Разбор колтунов </td>
									<td><strong>от 1000 ₽. / час</strong></td>
								</tr>
								<tr>
									<td>Озонотерапия</td>
									<td><strong>1000 ₽ / 15 мин. </strong></td>
								</tr>
								<tr>
									<td>Маска по типу шерсти</td>
									<td><strong>300 ₽</strong></td>
								</tr>
								<tr>
									<td>Гигиеническая чистка зубов</td>
									<td><strong>500 ₽</strong></td>
								</tr>
								<tr>
									<td>Воск для подушечек лап</td>
									<td><strong>300 ₽</strong></td>
								</tr>
								<tr>
									<td>Доплата за агрессию</td>
									<td><strong>500-1000 ₽</strong></td>
								</tr>
								<tr>
									<th colspan="2" class="text-center">Креатив</th>
								</tr>
								<tr>
									<td>Окрашивание</td>
									<td><strong>от 1000 ₽ / час </strong></td>
								</tr>
								<tr>
									<td>Блеск-тату</td>
									<td><strong>500-1000 ₽</strong></td>
								</tr>
								<tr>
									<td>Стразы 50 руб. / 1 шт.</td>
									<td><strong> ₽</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-recording" id="sec5">
		<div class="container">
			<form id="contactform" method="post" class="validateform" name="contactform">
				<input id="csrf_field" type="hidden" value="csrf_field()">

				<a id="top"></a>

				<div class="recording">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" type="text" id="name" name="name" placeholder="Имя">
						</div>
						<div class="input-group">
							<input class="form-control" type="tel" id="phone" name="phone" placeholder="Телефон">
						</div>
					</div>

					<div class="form-group">
						<div id="sendmessage" class="hidden green bold">
							Спасибо! Ваша заявка принята.<br /> Ожидайте звонок администратора.
						</div>

						<div id="senderror" style="color: red; font-weight: bold;" class="hidden">
							Заполните пустые поля.
						</div>
					</div>

					<div class="time-section">
						<button type="submit" class="btn-cats">Записаться</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<footer class="footer" id="sec9">
		<div class="container">
			<div class="title">Контакты</div>
			<hr>
			<div id="contact">
				<div class="footer-contacts">
					<div class="contact">
						<div class="contact-site">
							<img src="/img/footer/metro.png" alt="фото">
							<img style="width: 20px !important;
                            margin-bottom: -6px !important;" src="/img/moscow_metro_mini.png" alt="фото"> Новослободская, Долгоруковская, 40
						</div>
						<div class="contact-site">
							<div id="footer-phone" class="phone">
								<img src="/img/footer/phone.png" alt="фото">
								<a href="tel:+7(499)430-00-26">+7 (499) 430-00-26</a>
							</div>
						</div>
						<div class="contact-site"><img src="/img/footer/schedule.png" alt="фото">пн-пт: 11:00 - 20:00 <span>сб-вс: 10:18</span></div>
						<div class="contact-site"><img src="/img/footer/info.png" alt="фото"><a href="mailto:info@salon-groom.ru">info@salon-groom.ru</a></div>
						<div class="contact-site"><img src="/img/footer/instagram.png" alt="фото"><a href="https://www.instagram.com/salongroom1/?igshid=1pvyxcewbq2yq">salongroom1 Instagram</a></div>
					</div>
				</div>
				<div class="footer-title"><a href="https://salon-groom.ru/">salon-groom.ru</a> © 2022 Все права защищены</div>
			</div>
		</div>
	</footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>

<script src="/js/common.js"></script>

<!-- Yandex.Metrika counter -->
<script>
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(70137172, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/70137172" style="position:absolute; left:-9999px;" alt="фото" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Ads: 342943335 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-342943335"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-342943335');
</script>
</body>
</html>
